<web-app
        metadata-complete="false"
        version="3.0"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
 http://java.sun.com/xml/ns/javaee
 http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>ldp4jsampleapp1</display-name>
    <context-param>
        <param-name>ldp4jsampleapp1target</param-name>
        <param-value>com.ldp4sampleapps.sampleapp1.MyApp</param-value>
    </context-param>
    <!-- Other configuration here -->
</web-app>